{% extends 'lista/base.html' %}

{% block content %}
    <h1>Factura del Cliente</h1>
    <h2>Nombre: {{ cliente.nombre }} {{ cliente.apellido }}</h2>
    <h2>NIT: {{ cliente.nit }}</h2>
    <br>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Numero</th>
          <th scope="col">Producto</th>
        </tr>
      </thead>
      <tbody>
        {% for factura in facturas %}
        <tr>
          <td>{{factura.pk}}</td>
          <td>{{factura.producto}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
