{% extends 'lista/base.html' %}

{% block content %}
    <h1>Proyectos y sus Responsables</h1>
    <h2>Nombre: {{ trabajador.nombre }} {{ trabajador.apellido }}</h2>
    <h2>DPI: {{ trabajador.dpi }}</h2>
    <h2>E-Mail: {{ trabajador.email }}</h2>
    <br>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Proyecto</th>
        </tr>
      </thead>
      <tbody>
        {% for list in lista %}
        <tr>
          <td>{{list.pk}}</td>
          <td>{{list.proyecto}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
