{% extends 'lista/base.html' %}

{% block content %}
    <h1>Listado de Trabajadores</h1>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">DPI</th>
          <th scope="col">Cliente</th>
          <th scope="col">Direccion</th>
          <th scope="col">Telefono</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for trabajado in trabajador %}
        <tr>
          <th scope="row">{{ trabajado.dpi }}</th>
          <td>{{ trabajado.nombre }} {{ trabajado.apellido }}</td>
          <td>{{ trabajado.direccion }}</td>
          <td>{{ trabajado.telefono }}</td>
          <td>
            <div class="" role="" aria-label="Basic example">
              <a href="{% url 'lista_detalle' pk=trabajado.pk %}" type="button" class="btn btn-outline-info" role="button" aria-pressed="true">Ver detalle</a>
              <a href="{% url 'lista_editar' pk=trabajado.pk %}"s type="button" class="btn btn-outline-success" role="button" aria-pressed="true">Editar</a>
              <a href="{% url 'lista_remove' pk=trabajado.pk %}" type="button" class="btn btn-outline-danger" role="button" aria-pressed="true">Eliminar</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
