{% extends 'lista/base.html' %}

{% block content %}
    <h1>Listado de Proyectos</h1>
    <a href="{% url 'proyecto_nuevo' %}" type="button" class="btn btn-primary">Nuevo Proyecto</a>
    <br>
    <br>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Importancia</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for proyecto in proyectos %}
        <tr>
          <td>{{ proyecto.nombre }}</td>
          <td>{{ proyecto.descripcion }}</td>
          <td>{{ proyecto.importancia }}</td>
          <td>
            <div class="" role="" aria-label="Basic example">
              <a href="{% url 'proyecto_editar' pk=proyecto.pk %}" type="button" class="btn btn-outline-success" role="button" aria-pressed="true">Editar</a>
              <a href="{% url 'proyecto_remove' pk=proyecto.pk %}" type="button" class="btn btn-outline-danger" role="button" aria-pressed="true">Eliminar</a>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
